<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  
  <header class="header">  
    <div class="header_inner">
      <h1 tabindex="0" class="header_title">Restaurant</h1>
    </div>

    <div class="app-bar__menu">
      <center>
        <button id="hamburgerButton">☰</button>
      </center>
    </div>
   
    
    <nav id="drawer" class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="index.html">Home</a></li>
        <li class="nav_item"><a href="index.html">Favorite</a></li>
        <li class="nav_item"><a href="https://www.instagram.com/astantii_?r=nametag">About Us</a></li>
      </ul>
    </nav>

  </header>

<div tabindex="0" class="hero">
  <div class="hero_inner">
    <h1 tabindex="0" class="hero_title">Palomino</h1>
    <p tabindex="0" class="hero_tagline">Welcome, Here We Provide Several Catalogs From Palomino Restaurant Enjoy!</p>
  </div>
</div>

<main id="maincontent">
  <section class="content">
    
    <div class="latest">
      <h2 tabindex="0" class="latest__label">Restaurant</h2>
      <div class="posts">
        <article class="post-item">
          <img tabindex="0" class="post-item__thumbnail"
               src="https://restaurant-api.dicoding.dev/images/medium/07"
               alt="Bangunan Restaurant berwarna merah">

          <div class="post-item__content">
            <h3 tabindex="0" class="post-item__title">Run The Gun</h3>
            <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
              Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
               aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
               Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
               Phasellus viverra nulla ut metus varius laoreet.</p>
               <p tabindex="0" class="post-item__description"> City : Bali  Rating : 4,6</p>
          </div>

        </article>

        <article class="post-item">
          <img tabindex="0" class="post-item__thumbnail"
               src="https://restaurant-api.dicoding.dev/images/medium/29"
               alt="Sebuah restaurant dengan tema classic">

          <div class="post-item__content">
            <h3 tabindex="0" class="post-item__title">Pangsit Express</h3>
            <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
              Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
               aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
               Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
               Phasellus viverra nulla ut metus varius laoreet.</p>
               <p tabindex="0" class="post-item__description"> City : Ternate  Rating : 4,8</p>
          </div>
        </article>

        <article class="post-item">
          <img tabindex="0" class="post-item__thumbnail"
               src="https://restaurant-api.dicoding.dev/images/medium/38"
               alt="Pengunjung yang sedang menikmati makanannya">

          <div class="post-item__content">
            <h3 tabindex="0" class="post-item__title">Ducky Duck</h3>
            <p tabindex="0" class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure
              and praising pain was born and I will give you a complete account of the system, 
             and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. 
             No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how 
             to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves 
             or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
              which toil and pain can procure him some great pleasure.</p>
               <p tabindex="0" class="post-item__description"> City : Malang  Rating : 4,7</p>
          </div>

        </article>
        
        <article class="post-item">
          <img tabindex="0" class="post-item__thumbnail"
               src="https://restaurant-api.dicoding.dev/images/medium/40"
               alt="Beberapa restaurant dengan tempat makan diluar">
          
          <div class="post-item__content">
            <h3 tabindex="0" class="post-item__title">Kafein</h3>
            <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
              Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
               aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
               Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
               Phasellus viverra nulla ut metus varius laoreet.</p>
               <p tabindex="0" class="post-item__description"> City : Bali  Rating : 3,5</p>
           </div>

        </article>
        
        <article class="post-item">
          <img tabindex="0" class="post-item__thumbnail"
               src="https://restaurant-api.dicoding.dev/images/medium/08"
               alt="Sebuah gambar piring dengan makanan diatasnya">
          
          <div class="post-item__content">
            <h3 tabindex="0" class="post-item__title">Makan Mudah</h3>
            <p tabindex="0" class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
              Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
               aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
               Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
               Phasellus viverra nulla ut metus varius laoreet.</p>
               <p tabindex="0" class="post-item__description"> City : Malang  Rating : 4,6</p>
          </div>

        </article>
        
        <article class="post-item">
          <img tabindex="0" class="post-item__thumbnail"
               src="https://restaurant-api.dicoding.dev/images/medium/04"
               alt="Sebuah ruangan cafe yang banyang pengunjung">
          
          <div class="post-item__content">
            <h3 tabindex="0" class="post-item__title">Fairy Cafe</h3>
            <p tabindex="0" class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure
               and praising pain was born and I will give you a complete account of the system, 
              and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. 
              No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how 
              to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves 
              or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
               which toil and pain can procure him some great pleasure.</p>
               <p tabindex="0" class="post-item__description">City : Malang  Rating: 3,9 </p>
          </div>
        </article>
      </div>
    </div>
  
</section>
</main>

<footer tabindex="0">
    <p tabindex="0" class="footer_item">@CoppyeWrite Project Restaurant Apps Dicoding 2022</p>
</footer>
</body>
</html>